body{
    background-color:whitesmoke;
    font-family: Roboto, sans-serif;
}

header {
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    font-size: small;
}

header a {
    color: rgb(40, 40, 40);
    text-decoration: none;
}

.logo {
    width: 80px;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;   
}

nav ul li {
    margin-left: 20px;
    margin-right: 40px;
}

.carrossel {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 15px;
}

.carrossel img {
    width: 50px; 
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
}

table {
    width: 50%; 
    margin: 0 auto; 
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    border-bottom: 2px solid #ddd;
}

.tabelaRecordes img {
    width: 30px; 
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    color:black;
    font-size: small;
    position: fixed;
    width: 100%;
    bottom: 0;
}
